<!-- partials/clientes.html -->
<div class="ui grid">
	<div class="eight wide column">
	  <div class="ui segment">
	    <h1>Clientes</h1>
	    <ul>
	      <li ng-repeat="(key,cliente) in clientes">
	      	<a ng-click="editarCliente(cliente)">
	      		{{ cliente.nombre }} - {{ cliente.apellido }} 
	      	</a>
	      	<a class="ui submit button" ng-click="deleteCliente(cliente)">Eliminar</a>
	      </li>
	    </ul>
	  </div>
	</div>
	<div class="eight wide column">
	  <div class="ui segment">
	  	<a class="ui submit button" ui-sref="viewClient.list">Agregar cliente</a>
	    <div ui-view></div>
	  </div>
	</div>
</div>

