<!-- partials/clientes.html -->

<div class="ui secondary pointing menu">
  <a class="active item">
    <i class="home icon"></i> Trabajos
  </a>
  <a class="item">
    <i class="user icon"></i> Clientes
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui transparent icon input">
        <input placeholder="Search..." type="text">
        <i class="search link icon"></i>
      </div>
    </div>
    <a class="ui item" ui-sref="login">
      Cerrar Sesión
    </a>
  </div>
</div>

<div class="ui grid">
<div class="twelve wide column">
  <div class="ui segment">
    <h2 class="ui header">
      <div class="right floated compact ui button" data-content="Agregar nuevo cliente" ui-sref="newClient">
        Agregar
      </div>
      <div class="content">
        Listado de Clientes
      </div>
    </h2>
    <div class="ui hidden divider"></div>
    <div class="ui animated divided list">
      <div class="item" ng-repeat="(key,cliente) in clientes">
        <div class="right floated compact ui button" ng-click="detalleCliente(cliente)">Detalles</div>
        <i class="user big icon"></i>
        <div class="content">
          <div class="header">{{ cliente.apellido }} {{cliente.nombre}}</div>
          {{cliente.cuit}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="four wide column">
  <div class="ui blue segment">
    <div class="ui top attached segment"> 
      <h4 class="ui center aligned icon header">
        <i class="circular user icon"></i>
        {{cliente.apellido}} {{cliente.nombre}}
      </h4>
    </div>
    <div class="content">
      <div class="description">
        <div class="ui divider"></div>
        <h4 class="ui  header">CUIT</h4>
        {{cliente.cuit}}
        
        <div class="ui divider"></div>
        <h4 class="ui header">Teléfono</h4>
        {{cliente.telefono}}
        
        <div class="ui divider"></div>
        <h4 class="ui header">Email</h4>
        {{cliente.email}}
        
        <div class="ui divider"></div>
        <h4 class="ui  header">Dirección</h4> 
        {{cliente.direccion}}
        
        <div class="ui divider"></div>
        <h4 class="ui  header">Localidad</h4>
        {{cliente.localidad}}
        
        <div class="ui divider"></div>
      </div>
    </div>
    <div class="ui two bottom attached buttons">
      <div class="ui button" ng-click="modalCliente(false)">
        <i class="add icon"></i>
        Actualizar
      </div>
      <div class="ui primary button" ng-click="deleteCliente()">
        <i class="play icon"></i>
        Eliminar
      </div>
    </div>
  </div>
</div>
</div>
