<!-- partials/trabajo-new.html -->
<div class="ui fluid form segment">
  <h4 class="ui dividing header">Trabajo nuevo</h4>
  <div class="two fields">
    <div class="field">
      <label>Tipo de comprobante</label>
      <input placeholder="Tipo de comprobante" ng-model="tipoComprobante" type="text">
    </div>
    <div class="field">
      <label>CUIT</label>
      <input placeholder="CUIT" ng-model="cuit" type="text">
    </div>
  </div>
  <div class="ui submit button" ng-click="addTrabajo()" >Agregar</div>
</div>